{% extends 'base.html' %}
{% block title %}Goals!{% endblock %}

{% block content %}
<div class="container">
    <form id="new_goal" action="/api/goal" method="POST">
        <div class="row">
            <div class="col">
                <label for="goal_description">Goal Description</label><br>
                <textarea class="form-control" id="goal_description" name="goal_description" rows="4" size="600" required></textarea>
            </div>
        </div>
        <input type="hidden" name="goal_id" id="goal_id">
        <button id="add_goal" type="submit" class="btn btn-primary">Add</button>
        <button id="update_goal">Update</button>
        <button id="delete_goal">Delete</button>
        <button id="reset_goal">Reset</button>
    </form><br>
    <div id="existing_goals"></div>
</div>

{% endblock %}

{% block js %}
<script>
    const user_id = {{session.get('user_id', 0)}}
    console.log(user_id)
</script>
<script src='/static/home.js'></script>
{% endblock %}